h3 {
  text-align:  center;
}

table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	margin: 0 auto;
}

td, th {
  border: 1px solid #ddd;
  padding: 10px;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  white-space: nowrap;
}

thead{
	padding: 10px;
  position: sticky;
  top: 0;
}

th a{
	text-decoration: none;
	color: #fff;
}

.boton {
 appearance: none;
 background-color: transparent;
 border: 0.125em solid #1A1A1A;
 border-radius: 0.9375em;
 box-sizing: border-box;
 color: #3B3B3B;
 cursor: pointer;
 display: inline-block;
 font-size: 16px;
 font-weight: 600;
 line-height: normal;
 margin: 0;
 min-height: 3.75em;
 width: 100%;
 outline: none;
 padding: 1em 2.3em;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 will-change: transform;
}

.boton:disabled {
 pointer-events: none;
}

.boton:hover {
 color: #fff;
 background-color: #1A1A1A;
 box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
 transform: translateY(-2px);
}

.boton:active {
 box-shadow: none;
 transform: translateY(0);
}

#agregar:hover {
 color: #fff;
 background-color: #A40000;

}